xml
	ToUserName <![CDATA[#{toUser}]]>
	FromUserName <![CDATA[#{fromUser}]]>
	CreateTime #{date}
	MsgType <![CDATA[news]]>
	ArticleCount #{items.length}
	Articles
		-for(var i=0;i<items.length;i++)
			item
				Title <![CDATA[!{items[i].title}]]>
				Description <![CDATA[!{items[i].description}]]>
				PicUrl <![CDATA[!{items[i].picurl}]]>
				Url <![CDATA[!{items[i].url}]]>