xml
	ToUserName <![CDATA[#{toUser}]]>
	FromUserName <![CDATA[#{fromUser}]]>
	CreateTime #{date}
	MsgType <![CDATA[link]]>
	Title <![CDATA[#{title}]]>
	Description <![CDATA[#{description}]]>
	Url <![CDATA[#{url}]]>
	MsgId #{msg_id}