xml
	ToUserName <![CDATA[#{toUser}]]>
	FromUserName <![CDATA[#{fromUser}]]>
	CreateTime #{date}
	MsgType <![CDATA[news]]>
	ArticleCount 1
	Articles
		item
			Title <![CDATA[#{title}]]>
			Description <![CDATA[#{description}]]>
			PicUrl <![CDATA[#{picurl}]]>
			Url <![CDATA[#{url}]]>