extends layout
block css_here
	style.
		.body{
		position: relative;
		}
		.body .head{
		position: relative;
		}
		.head .downloadbtn{
		position: absolute;
		left: 8%;
		width: 38%;
		top: 61%;
		height: 17%;
		}
		.head  .form{
		position: absolute;
		/* left: 8%; */
		width: 100%;
		top: 81%;
		height: 17%;

		}
		.head  .form input{
		margin-left: 9%;
		/*box-shadow: 0px 0px 6px #999999 inset;*/
		background-color: #fff;
		-webkit-appearance: none;
		box-sizing: border-box;
		padding: .2rem;
		width: 50%;
		/* height: 19px; */
		border: 1px solid #888;
		/*border-radius: 0;*/
		text-indent: 10px;
		/*border-radius: 3px;*/
		height:28px;
		}
		.head  .form .copy{
		position: absolute;
		top: 0;
		right: 23%;
		width: 13%;
		}
		.body .content-c{
		position: relative;
		margin: 0% 0 2%;
		}
		.body .text, .body .text2{
		position: relative;
		border-top: 1px solid #ccc;
		padding: 3% 5%;

		}
		.body .text .right{
		position: absolute;
		right: 5%;
		}
		.short {
			padding:10px;
		}
		.info {
			padding:0px 10px;
		}
		.info p {
			margin:0px;
		}
		.info-s {
			padding:0px 10px;
			border-bottom:solid 1px #ccc;
			margin-bottom:10px;
			padding-bottom:10px;
		}
		.downloadpage {
			float:right;
			width:48%;
		}
block title
	| #{lotinfo.description}
block content_here
	//- include nav
	.weixin-share
		img(src="http://115.28.106.34/img/game-weixin-#{lotinfo.order}.jpg")
	.content(style="background-color:#fff;")
		.body
			.head
				img(src='#{lotinfo.headerimg}', width='100%')
			.short
				p !{lotinfo.info_a}
			.content-c
				img(src='#{lotinfo.descriptionimg}', width='100%')
			.dh
				input(type="text",value="#{lot.content}",style="width:50%")
				a.downloadpage(href="/game") 
					img(src="/img/downloadbtn.jpg")
			.info-s !{lotinfo.info_b}
			.info 
				h2 说明
				|!{lotinfo.info_c}


				
	script.
		window.onload = function () {
		$('.form .copy').on('click', function () {
			alert('复制完成');
		})
		}
