extends layout
block css_here
	style.
		form {
		}
		
block content_here
	include nav
	.content(style="background-color:#fff;")
		//- img(src="/img/lots-4.jpg")
		.content-padded
			div.sharenow.lotsnote
				img(src="/img/sharenow.png")
			img(src="/img/#{win.img}")
			-if (win.info == "50hf")
				div.hf
					label 卡密
					input(type="text",value="#{win.content}")
				div.share
					img(src="/img/lots-share.jpg")
			-else
				form(name="register",action="/sign/winner/#{win._id}").form
					.form-title
						img(src="/img/lots-title.png")
					.form-list
						table
							tr
								td.t 姓名
								td
									input(type="text",name="username")
							tr
								td.t 电话
								td 
									input(type="text",name="mobile")
							tr
								td.t 邮寄地址
								td
									input(type="text",name="adr")
					.btns
						div.btn-s(name="submit")
							img(src="/img/submit-lucky.png")



block js_here
	script.
		var dataForWeixin={
		appId:  "",
		//- img:    "#{config.host}/img/weixin-#{win.info}.jpg",
		img: "#{config.host}/img/weixin-jianianhua.jpg",
		url:    "#{config.host}/share/#{win.info}",
		title:  "三星乐园嘉年华",
		desc:   "三星乐园嘉年华，Samsung GALAXY Tab S等千份好礼等你来拿！" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")
	script.
		$(document).ready(function(){
			$("[name=submit]").click(function(){
				$.ajax({
					url:$('[name=register]').attr("action"),
					type: 'POST',
					data: $('[name=register]').serializeArray(),
					dataType: 'json',
					success: function(msg){
						if (msg.recode == 200){
							showalert("提交成功,已经将您的信息存入,请不要重复提交.");
							//- window.location.reload();
						}else{
							showalert(msg.reason);
						}
					}
				});
			});
		});