extends layout
block title
	| 聊话题
block content_here
	//- include nav
	//- div.weixin-share
		img(src="http://115.28.106.34/img/weixin-topic.jpg")
	nav.bar.bar-tab
		div.sendmsg
			form.form(action="/sign/comment",name="register",onsubmit="post(); return false;")
				div.form-group.clearfix
					input.input-ctrl(type="text",name="comment",placeholder="评论话题")
					button.btn(type="button",onclick="post()") 发送
	.content
		.content-padded
			-if (topic != null)
				div.topic
					div.box
						div.topic-title.clearfix
							div.topic-description
								img(src="/img/logo-topic.png")
								h2.h4 <span id="topicname">##{topic.name}#</span>#{topic.description}
							p.clearfix(style="line-height:50px;float:left;width:100%") 本期话题奖品:#{topic.lot} 
								img(src="/img/icon-lot.jpg",style="float:right;")
						div.lots-perv
							p 上期中奖名单查询:
							//- p 136****3651（迪士尼玩偶） 136****3651（迪士尼玩偶）
							p #{topic.prelot}
						div.comment
							-if (comments != null && comments.length>0)
								ul#comments
									-for(var i=0;i<comments.length;i++)
										li(data-time="#{comments[i].create_at.getTime()}")
											p.username #{comments[i].name} :
											p.com-cont 
												span ##{topic.name}#
												| #{comments[i].content}
							-else
								ul#comments
									li(style="line-height:20px;text-align:center;") 还没有评论,快来抢先评论.
			-else
				h2#notopic.h2(style="text-align:center;") 暂无话题

block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://115.28.106.34/img/weixin-topic.jpg",
		url:    location.href,
		title:  "聊话题",
		desc:   "顶尖趋势，潮流热点，你想聊的话题都在这里~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")
	script.
		function getTime(date) {
		now = new Date();
		y2k = date;
		days = (y2k - now) / 1000 / 60 / 60 / 24;
		daysRound = Math.floor(days);
		hours = (y2k - now) / 1000 / 60 / 60 - (24 * daysRound);
		hoursRound = Math.floor(hours);
		minutes = (y2k - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
		minutesRound = Math.floor(minutes);
		seconds = (y2k - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
		secondsRound = Math.round(seconds);
		//- sec = (secondsRound == 1) ? " 秒." : " 秒.";
		min = (minutesRound == 1) ? "分钟" : "分钟";
		hr = (hoursRound == 1) ? "小时" : "小时";
		dy = (daysRound == 1)  ? "天" : "天"
		//- + secondsRound + sec
		return "剩余时间: " + (daysRound*24+hoursRound) + hr + minutesRound + min ;
		newtime = window.setTimeout("getTime();", 1000);
		}
		$(document).ready(function(){
			runtime();
		});
		function runtime() {
			var e = $("#runtime");
			var endtime = new Date(e.data("time"));
			var now = new Date();
			if (endtime < now) {
				showalert("话题讨论时间结束了");
				window.location.reload();
			}else{
				e.html(getTime(endtime));
				setTimeout(function(){
					runtime();
					getnext();
				},5000);
			}
		}
		_submit = false;
		function post() {
			if ($("#notopic").length>0) {
				return alert("暂无话题");	
			}
			if ($("[name=comment]").val() == "") {
				return showalert("请填写评论");
			}
			_submit = true;
			$.ajax({
				async: false,
				url: $('[name=register]').attr("action"),
				type: 'POST',
				data: $('[name=register]').serializeArray(),
				dataType: 'json',
				context: $('body'),
				success: function(msg) {
					if (msg.recode === 200) {
						//- window.location.href = "/sign/my";
						//- _hmt.push(['_trackEvent', '注册', '提交', '']);
						$("[name=comment]").val("");
						getnext();
					} else {
						_submit = false
						return showalert(msg.reason);
					}
				}
			});
		}
		function getnext() {
			time = $("#comments li").eq(0).data("time")
			$.ajax({
				async: false,
				url: "/sign/comments?startime="+time,
				type: 'GET',
				dataType: 'json',
				success: function(msg) {
					if (msg.recode === 200) {
						//- window.location.href = "/sign/my";
						//- _hmt.push(['_trackEvent', '注册', '提交', '']);
						if (msg.comments.length>0) {
							createHTML(msg.comments);	
						}
					} else {
						_submit = false
						return showalert(msg.reason);
					}
				}
			});
		}
		function createHTML(json) {
			var ep = $("#comments");
			ep.html("");
			for (var i=json.length-1;i>=0;i--) {
				var time = new Date(json[i].create_at);
				html = "<li data-time='"+time.getTime()+"'><p class='username'>"+json[i].name+"</p><p class='com-cont'><span>"+$("#topicname").text()+"</span>"+json[i].content+"</p></li>";
				ep.prepend(html);
			}
		}
